$defaultTagBackgrounds: #9692ad, #80b199, #6597b4, #aac47f;
$defaultTagColors: #fff, #fff, #fff, #fff;

/*
*   Global style
*/
:root {
    --main-top-padding: 35px;

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --body-background: #cdebe8;

    --accent-color: #4bb8a5;
    --accent-color-darker: #337469;
    --accent-color-text: #fff;
    --body-text-color: #707070;

    --tag-border-radius: 24px; // Change from 4px to make it round corner
    --category-border-radius: 4px; // Add category border setting


    --section-separation: 40px;

    --scrollbar-thumb: hsla(160, 7%, 84%, 0.70);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {
        --body-background: #2b2f35;
        --accent-color: #bedfc2;
        --accent-color-darker: #82df99;
        --accent-color-text: #000;
        --body-text-color: rgba(212, 252, 243, 0.76);
        --scrollbar-thumb: hsl(0, 0%, 40%);
        --scrollbar-track: var(--body-background);
    }
}

/**
*   Global font family
*/
:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

    --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
}

/*
*   Card style
*/
:root {
    --card-background: #fff;
    --card-background-selected: #eaeaea;

    --card-text-color-main: #000;
    --card-text-color-secondary: #6f6f74;
    --card-text-color-tertiary: #727288;
    --card-separator-color: rgba(218, 218, 218, 0.5);

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background: #424242;
        --card-background-selected: rgba(255, 255, 255, 0.16);
        --card-text-color-main: rgba(255, 255, 255, 0.9);
        --card-text-color-secondary: rgba(255, 255, 255, 0.7);
        --card-text-color-tertiary: rgba(255, 255, 255, 0.5);
        --card-separator-color: rgba(255, 255, 255, 0.12);
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;
    --blockquote-background-color: rgb(237, 247, 245);

    --heading-border-size: 4px;

    --link-background-color: 221, 237, 235;
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;

    --pre-background-color: #272822;
    --pre-text-color: #f8f8f2;

    --code-background-color: rgba(33, 34, 33, 0.12);
    --code-text-color: #4ca0ac;

    --table-border-color: #c2d8d6;
    --tr-even-background-color: #e6f3f2;

    --kbd-border-color: #a2b6b2;

    &[data-scheme="dark"] {
        --blockquote-background-color: #1e2d2b;

        --link-background-color: 42, 72, 70;
        --link-background-opacity: 0.4;
        --link-background-opacity-hover: 0.6;

        --pre-background-color: #1e2d2b;
        --pre-text-color: #f1f1f1;

        --code-background-color: #2a3f3d;
        --code-text-color: #b3faf4;

        --table-border-color: #475c5a;
        --tr-even-background-color: #2c3e3c;

        --kbd-border-color: #37514e;
    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

[data-scheme="light"] {
    --pre-text-color: #222826;
    --pre-background-color: #fafafa;
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    --pre-text-color: #f8f8f2;
    --pre-background-color: #222826;
    @import "partials/highlight/dark.scss";
}

:root {
    --menu-icon-separation: 40px;
    --container-padding: 15px;
    --widget-separation: var(--section-separation);
}
