{{ if .IsHome }} {{ $quotes := site.Data.dialogs.quotes }}
<div id="float-icon"></div>
<div id="dialog-box" class="hidden">
  “{{ index $quotes 0 }}”
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      const icon = document.getElementById("float-icon");
      const box = document.getElementById("dialog-box");
  
      const rawQuotes = `{{ site.Data.dialogs.quotes | jsonify }}`;
  
      let quotes;
      try {
        quotes = JSON.parse(rawQuotes);
      } catch (err) {
        console.error("❌ Failed to parse quotes:", err);
        return;
      }
  
      let clickCount = 0;
  
      icon.addEventListener("click", () => {
        const quoteIndex = clickCount % quotes.length;
  
        if (box.classList.contains("hidden")) {
          box.textContent = quotes[quoteIndex];
          box.classList.remove("hidden");
        } else {
          box.classList.add("hidden");
          clickCount++;
        }
      });
    });
  </script>  
    
{{ end }}

{{ if .IsHome }}

<!-- music player -->
<div id="music-float-icon"></div>
<audio id="music-audio" src="audio/British Sea Power - The Smallest Church in Sussex.mp3"></audio>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const icon = document.getElementById("music-float-icon");
    const audio = document.getElementById("music-audio");
    let isPlaying = false;

    icon.addEventListener("click", () => {
      if (isPlaying) {
        audio.pause();
        isPlaying = false;
      } else {
        audio.play();
        isPlaying = true;
      }
    });

    audio.addEventListener("ended", () => {
      isPlaying = false;
    });
  });
</script>

{{ end }}